.Search-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.Search-container {
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.Search-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: sticky;
  top: 0px;
  background-color: #c2c2c277
}
.Search-results-pages {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: sticky;
  bottom: 0px;
}
.Search-options {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Search-space {
  margin-right: 8px;
}
.Search-textfield {
  margin-right: 8px;
  margin-left: 8px;
}
.Search-result {
  width: 100%;
}
td {
  border: 1px solid lightslategray
}
td:hover {
  border: 1px solid lightgray
}